* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url('alietbg.jpg');
  border-image-outset: #001e4d;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px; /* Adjust the margin to add space between the logo and title */
}


h1 {
  display: flex;
  align-items: center;
}

.welcome-details {
    text-align: left;
    padding: 10px;
}
.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.container {
  background: #fff;
  width: 70%;
  max-width: 500px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background-color: rgb(8, 8, 105);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(8, 8, 105);
}
